---
import { Icon } from 'astro-icon/components'

interface Props {
  name: string
  desc: string | null
  stars?: number
  url: string
}

const { name, desc, stars, url } = Astro.props
---

<a href={url} class="border-2 border-neutral-700 rounded-md p-4 space-y-1">
  <div class="flex items-center justify-between">
    <h4 class="font-semibold text-xl">{name}</h4>
    <span class="flex items-center gap-2">
      {stars}
      <Icon name="tabler:star-filled" class="rotate-12" />
    </span>
  </div>
  <p class="text-sm">{desc}</p>
</a>
