<footer class="text-center border-t border-neutral-800 p-6 mb-8 text-sm">
  <a href="https://github.com/mc-8/portfolio">Created with love by mc-8</a>
  —
  <a href="https://hideoo.dev" class="text-faff-pink">Credits to HiDeoo</a>
</footer>
