---
import { Icon } from "astro-icon/components";
---

<nav class="p-4 bg-neutral-900 border-b border-neutral-800">
  <div class="m-auto flex items-center justify-between w-[90%]">
    <a href="/" class="font-bold text-xl">mc-8</a>
    <ul class="flex items-center gap-4 text-xl">
      <a href="https://github.com/mc-8">
        <Icon name="tabler:brand-github" />
      </a>
      <a href="https://discord.gg/drGG94M6s8">
        <Icon name="tabler:brand-discord" />
      </a>
      <a href="https://x.com/neutrowastaken">
        <Icon name="tabler:brand-x" />
      </a>
      <a href="mailto:mcorrochanoarroyo@gmail.com">
        <Icon name="tabler:brand-mailgun" />
      </a>
    </ul>
  </div>
</nav>
